{% extends 'products/master.html'%} {% block content%}
<br></br>

<div class = "container">
  <h1 class= "text-center">Welcome to my Sari-sari Store!</h1>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mga Paninda</th>
        <th scope="col">Dami</th>
        <th scope="col">Presyo Per Piraso(₱)</th>
        <th scope = "col">Detalye</th>
      </tr>
    </thead>
    {% for product in products%}
    <tbody>
      <tr>    
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>₱{{product.unit_price}}</td>
        <td><a href="{% url 'product_detail' product.id %}"
              ><input
                type="submit"
                value="TINGNAN"
                class="btn btn-secondary btn"
                type="button"
            /></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}